.header-bg {
  max-width: 1600px;
  margin: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  width: 500px;
}

.nav h1 {
  font-size: 2.75rem;
  margin-left: 32px;
}

.nav ul {
  font-size: 1.5rem;
  display: flex;
  margin-right: 32px;
  gap: 46px;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: orangered;
  padding: 8px 16px;
  display: inline-block;
}

.nav a::after {
  content: "";
  width: 16px;
  height: 2px;
  background: orangered;
  display: block;
  transition: 0.4s;
}

.nav a:hover::after {
  width: 100%;
}
